body {
}
.box-about {
    border-radius: 20px;
    margin-bottom:50px;
    overflow:hidden
}
.box-about > div:nth-child(Even) {
    background-color: #f5f5f5;

}
.box-about > h2{
    text-align:center;
    padding:20px
}
.box-about > div {
    padding: 30px
}

    .box-about > div > p{
        padding: 10px
    }

    .box-about > .img-size > div{
        text-align:center;
        margin-bottom:20px
    }
    .box-about > .img-size > div > img {
        width: 60%
    }
@media (max-width: 767px) {
    .box-about > .img-size > div > img {
        width: 90%
    }
}