.box-order-steps{
    border:1px solid #f3f3f3;
    box-shadow:1px 1px 10px #f1f1f1;
    padding:20px 0;
    border-radius:10px;
    overflow:hidden
}
.order-steps-item > div > span.line-step {
    height: 15px;
    background-color: #d0d0d0;
    position: absolute;
    width: 3470px;
    z-index: -5;
    top: 25px;
}
.order-steps-item > div > span.line-step-right {
    right: 0;
}
.order-steps-item > div > span.line-step-left {
    left: 30px;
}
    .order-steps-item {
        text-align: center;

    }
        .order-steps-item > div {
            position: relative;
            border: 1px solid #d0d0d0;
            border-radius: 50px;
            height: 70px;
            width: 70px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            color: white;
            font-size: 53px;
            background-color: #d0d0d0
        }

    .order-steps-item > div.active-step {
        border: 1px solid #d0d0d0;
        border-radius: 50px;
        height: 70px;
        width: 70px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 53px;
        background-color: #012453
    }
@media (max-width:768px) {
    .order-steps-item > div > span.line-step {
        height: 10px;
        background-color: #d0d0d0;
        position: absolute;
        width: 3470px;
        z-index: -5;
        top: 15px;
    }
    .order-steps-item {
        font-size:15px
    }
    .order-steps-item > div {
        height: 40px;
        width: 40px;
        font-size: 35px;
        background-color: #d0d0d0
    }

        .order-steps-item > div.active-step {
            height: 40px;
            width: 40px;
            font-size: 35px;
            background-color: #012453
        }
}