@model Shop_Stationery.Models.ViewModelUser.ViewModelSubmitPassword.ViewModelSubmitPassword
@{
    Layout = "~/Views/Shared/_Layout_LoginAndSignup.cshtml";
}


<h2 class="title-login">رمز عبور</h2>
<br />
<form asp-action="SubmitPassword" asp-controller="Signup" method="post">
    <label class="label-top-input">رمز عبور را وارد کنید</label>
    <input asp-for="Password" type="password" maxlength="100" name="Password" value="" class="Custom-Input-1" placeholder="رمز عبور" />
    <input asp-for="PasswordAgain" type="password" maxlength="100" name="PasswordAgain" value="" class="Custom-Input-1" placeholder="تکرار رمز عبور" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br />
    <button type="submit" class="Custom-Button-2">
        تایید
    </button>
</form>


