@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout_HomeUser.cshtml";
}
@model Shop_Stationery.Models.ViewModelUser.ViewModelAccount.ViewModelChangePassword
@section Style {

    <link href="~/css/User/Account/Account.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <!-- right side-->
        <partial name="_AccountPartial.cshtml" />
        <!-- right side-->
        <!-- left side-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="left-content ">
                <div class="left-content-header">
                    <h2>
                        تغییر رمز عبور
                    </h2>
                </div>
                <div class="left-content-body">
                    <div class="left-content-body">
                        @if (TempData["ChangePassword"] != null)
                        {
                            if (TempData["ChangePassword"].ToString() == "true")
                            {
                                <div class="alert alert-success">
                                    <h5>
                                        رمز عبور تغییر کرد
                                    </h5>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    <h5>
                                        رمز عبور تغییر نکرد
                                    </h5>
                                </div>
                            }
                        }
                        <form asp-action="ChangePassword" asp-controller="Account" method="post" class="row" autocomplete="off">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label><i class="fa fa-lock"></i> رمز عبور فعلی</label>
                                <input asp-for="PasswordNow" type="password" name="PasswordNow" value="" class="Custom-Input-2 col-12" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><i class="fa fa-lock"></i> رمز عبور جدید</label>
                                <input asp-for="Password" type="password" name="Password" value="" class="Custom-Input-2 col-12" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><i class="fa fa-lock"></i> تکرار رمز عبور جدید</label>
                                <input  asp-for="PasswordAgain" type="password" name="PasswordAgain" value="" class="Custom-Input-2 col-12" />
                            </div>
                            <!--///////////////////////////-->
                            <button class="Custom-Button-2 col-2 btn-submit-edit" type="submit">
                                تغییر رمز عبور
                            </button>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- left side-->
        </div>

    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
