@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_Layout_HomeUser.cshtml";
}

@section Style {
    <link href="~/css/User/Home/styleForAbout.css" rel="stylesheet" />
}
<div class="container">
    <div class="border box-about">
        <h2>درباره ما</h2>
        <div>
            <h5><b>درباره فروشگاه</b></h5>
            <p>
                تیم استوک ستاره سهیل از سال ۹۶ فعالیت خود را بیشتر در زمینه لباس کوهنوردی شروع کردیم و بخاطر استقبال شما هم وطنان و همنوردان لباس های دیگه هم اضافه کردیم
                لباس های ما بصورت تخصصی بررسی و خریداری میشود و به همین دلیل انواع برند های مختلف دنیا با کیفیت عالی برخوردار است.
            </p>
            <h5><b>ایده شروع کار</b></h5>
            <p>
                ایده این کار از جایی شکل گرفت که خودم کوهنورد بودم و عاشق لباس استوک برای خرید لباس باید به شهر های معرف این صنعت میرفتم و بعضا کسی کار حرفه ای یا برند نداشت و پیدا کردنشم سخت بود
                سال ۹۸تصمیم گرفتم که بجز خودم بتونم واسه هم‌ وطنام لباس برند و حرفه ای استوک  فراهم کنم که هم کیفیت عالی داشته باشه هم خرید راحت و بدون دردسری داشته باشند و
                کل لباس های خریداری شده زیر نظر تیم مجرب استوک ستاره سهیل بررسی میشود تا لباس با کیفیت و نو به دست شما برسد و بتوانیم رضایت شما را جلب کنیم.
            </p>
            پیج های اینستاگرام:
            <br />
            <br />
            stock.s.s
            <br />
            <br />
            stock.s.s2
            <br />
            <br />
            کانال تلگرام:
            <br />
            <br />
            staresoheiil
        </div>

    </div>


</div>
@section Scripts{

}