@{
    ViewData["Title"] = "راهنمای سایز";
    Layout = "~/Views/Shared/_Layout_HomeUser.cshtml";
}

@section Style {
    <link href="~/css/User/Home/styleForAbout.css" rel="stylesheet" />
}
<div class="container">
    <div class="border box-about">
        <h2>راهنمای سایز</h2>
        <div>
            <h6>طبق این تصویر به راحتی می توانید سفارشات خود را نسبت به اندازه خود ، سفارش دهید.</h6>
        </div>
        <div class="row img-size">
            <div class="col-12 col-sm-12 col-lg-6 col-md-6 col-xl-6 col-xxl-6">
                <img src="~/assets_templates/template1/images/photo_2023-01-27_13-11-25.jpg" />
            </div>
            <div class="col-12 col-sm-12 col-lg-6 col-md-6 col-xl-6 col-xxl-6">
                <img src="~/assets_templates/template1/images/photo_2023-01-27_13-12-09.jpg" />
            </div>
        </div>
    </div>


</div>
@section Scripts{

}
