@{
    ViewData["Title"] = "سوالات متداول";
    Layout = "~/Views/Shared/_Layout_HomeUser.cshtml";
}

@section Style {
    <link href="~/css/User/Home/styleForAbout.css" rel="stylesheet" />
}
<div class="container">
    <div class="border box-about">
        <h2>سوالات متداول</h2>
        <div>
            <h5>
                از کجا ارسال میشه؟
            </h5>
            کرمانشاه شهر صحنه
        </div>
        <div>
            <h5>
                ارسال رایگان؟
            </h5>
            بله
        </div>
        <div>
            <h5>
                با چی ارسال میشه؟
            </h5>
            پست پیشتاز که تا ۳تا ۴روز کاری بسته میرسه

        </div>
        <div>
            <h5>
                لباس ها نو هستن؟
            </h5>
            ۹۰درصد لباس ها نو و تن نخورده هستن
        </div>

        <div>
            <h5>
                مرجوع لباس دارین؟
            </h5>
            مرجوع بخاطر سایز خیر بجز سایز هر مشکلی بود بله مرجوع داریم
        </div>

        <div>
            <h5>
                چطوری بفهمم لباس سایزم هست یا نه؟
            </h5>
            لینک راهنمای سایز گذاشته بشه
        </div>


        <div>
            <h5>
                در شبکه های اجتماعی فعالیت دارین؟
            </h5>
            در اینستا گرام بصورت دو پیج:
            <br />
            <br />
            stock.s.s 
            <br />
            <br />
            stock.s.s2
            <br />
            <br />
            و در تلگرام:
            <br />
            <br />
            staresoheiil
        </div>

    </div>


</div>


@section Scripts{

}