@{
    ViewData["Title"] = "ارتباط با ما";
    Layout = "~/Views/Shared/_Layout_HomeUser.cshtml";
}

@section Style {
    <link href="~/css/User/Home/styleForAbout.css" rel="stylesheet" />
}
<div class="container">
    <div class="border box-about">
        <h2>ارتباط با ما</h2>
        <div>
            نظرات و پیشنهادات خود را از طریق راه های ارتباطی زیر برای ما ارسال نمایید.
        </div>
        <div>
            ایمیل:
            <br />
            <br />
            meysammohebbi8@gmail.com
            <br />
            <br />
            پیج های اینستاگرام:
            <br />
            <br />
            stock.s.s
            <br />
            <br />
            stock.s.s2
            <br />
            <br />
            کانال تلگرام:
            <br />
            <br />
            staresoheiil
        </div>

    </div>


</div>
@section Scripts{

}