@model Shop_Stationery.Models.ViewModelUser.ViewModelLogin.ViewModelLoginCode
@{
    ViewData["Title"] = "فراموشی رمز عبور";
    Layout = "~/Views/Shared/_Layout_LoginAndSignup.cshtml";
}
@section Style{

}

@using Newtonsoft.Json;
@using Shop_Stationery.Models.Classes.ClassesUser.ConfirmCode;
@{
    ConfirmCode ConfirmCode = new ConfirmCode();
    ConfirmCode = JsonConvert.DeserializeObject<ConfirmCode>(ViewBag.ConfirmCode);
}

<h3 class="title-login"><b>بازیابی کلمه عبور</b></h3>
<form asp-action="ForgotPassword" method="post">
    <input type="text" name="ConfirmCode" value="" class="Custom-Input-1" placeholder="کد تایید" />
    <div>
        <span class="text-time-code">مانده تا دریافت مجدد کد</span>
        <button id="btn-Timer-Code" type="button" class="Custom-Button-3">
            00:00
        </button>
    </div>
    <br />
    <button type="submit" class="Custom-Button-2">
        ورود
        @ViewBag.Code
    </button>
</form>
<div class="forgot">
    <a href="/Login" class="Custom-Tag-A-1">ورود</a>
</div>

@{
    var datatime = ConfirmCode.TimeExpiration - DateTime.Now;
}

@if (ConfirmCode.TimeExpiration <= DateTime.Now)
{
    <script>
        var MyTimer = setInterval(TimerConfirmCode, 1000);
        var d = new Date(0, 0, 0, 0, 3, 0, 0);
        function TimerConfirmCode() {
            var timeNow = d.getTime();
            d.setTime(timeNow - 1000);
            if (d.getMinutes() == 0 && d.getSeconds() == 0) {
                document.getElementById("btn-Timer-Code").innerText = "دریافت کد";
                clearInterval(MyTimer);
            }
            else {
                if (d.getSeconds().toString().length == 1) {
                    document.getElementById("btn-Timer-Code").innerText = "0" + d.getMinutes() + ":0" + d.getSeconds() + "";
                }
                else {
                    document.getElementById("btn-Timer-Code").innerText = "0" + d.getMinutes() + ":" + d.getSeconds() + "";
                }
            }
        }
    </script>
}
else
{
    <script>
        var MyTimer = setInterval(TimerConfirmCode, 1000);
        var d = new Date(0, 0, 0, 0, @datatime.Minutes, @datatime.Seconds , 0,);
        function TimerConfirmCode() {
            var timeNow = d.getTime();
            d.setTime(timeNow - 1000);
            if (d.getMinutes() == 0 && d.getSeconds() == 0) {
                document.getElementById("btn-Timer-Code").innerText = "دریافت کد";
                clearInterval(MyTimer);
            }
            else {
                if (d.getSeconds().toString().length == 1) {
                    document.getElementById("btn-Timer-Code").innerText = "0" + d.getMinutes() + ":0" + d.getSeconds() + "";
                }
                else {
                    document.getElementById("btn-Timer-Code").innerText = "0" + d.getMinutes() + ":" + d.getSeconds() + "";
                }
            }
        }
    </script>
}
